name: Update GitHub Card

on:
  schedule:
    - cron: "0 * * * *"   # chaque heure
  workflow_dispatch:      # lancement manuel

jobs:
  update-card:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Récupérer la GitHub Card
        run: |
          mkdir -p assets
          curl -L "https://githubcard.com/evxryyy/card" -o assets/github-card.svg

      - name: Commit & Push
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add assets/github-card.svg
          git commit -m "Auto-update GitHub Card" || exit 0
          git push
